// Journal 5.2.2
// Bootswatch

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

thead {
    border-top: 1px solid $indigo;
    border-bottom: 1px solid $indigo;
    th {
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        color: $blue;
        border: 1px solid $indigo;
        font-family: "PT Sans Caption", sans-serif;
    }
}
tbody {
    tr {
        border-bottom: 1px solid $indigo;
        color: $black;
        font-family: "Poppins", sans-serif;
        td {
            padding: 10px;
            border: 1px solid $indigo;
        }
        th {
            padding-left: 10px;
            border: 1px solid $indigo;
        }
    }
}
// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" !default;
@if $web-font-path {
    @import url($web-font-path);
}

:root {
    color-scheme: light;
}

// Navbar

.bg-dark {
    background-color: $black !important;
}

.bg-light {
    color: $black;
    background-color: $white !important;
    border: 1px solid $gray-200;

    &.navbar-fixed-top {
        border-width: 0 0 1px;
    }

    &.navbar-fixed-bottom {
        border-width: 1px 0 0;
    }
}

.navbar {
    font-family: $headings-font-family;
    font-size: 18px;
    font-weight: $headings-font-weight;
}

.navbar-brand {
    padding-top: 0.5rem;
    font-size: inherit;
    font-weight: $headings-font-weight;
    text-transform: uppercase;
}

// Buttons

.btn {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    &-secondary,
    &-warning {
        color: $white;
    }
}

// Navs

.pagination {
    a:hover {
        text-decoration: none;
    }
}

body {
    background-color: $gray-200;
}
