@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");

body {
    width: 100%;
    background-color: $bg-color;
}
a {
    text-decoration: none;
}
.container {
    background-color: $bg-color;
    h2 {
        margin-top: 20px;
        font-size: 25px;
        font-style: italic;
        text-transform: uppercase;
        color: $yellow;
    }
}
.nav {
    margin: 0 auto;
}
.table-latitude {
    margin: 0 auto;
    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $yellow;
        text-align: center;
        margin-top: 20px;
        font-size: larger;
        font-family: "PT Sans Caption", sans-serif;
    }
    thead {
        border-top: 2px solid $yellow;
        border-bottom: 2px solid $yellow;
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: $blue;
            border: 1px solid $border-brown;
            font-family: "PT Sans Caption", sans-serif;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $border-brown;
            color: $black;
            font-family: "Poppins", sans-serif;
            td {
                padding: 10px;
                border: 1px solid $border-brown;
            }
            th {
                padding-left: 10px;
                border: 1px solid $border-brown;
            }
        }
    }
}
